<div class="container">

    <div id="hd">
      <h1>INVERCARGILL KINDNESS ADVENT CALENDAR</h1>
    </div>

    <div id="bd">
        <div class="back-button"> <%= link_to 'Back', "/" %>
| <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.greenlightsolutions.nz%2F&amp;src=sdkpreparse">Share</a>
        </div>
        <div id="day-list">

          <p class="center">
            <img class="product-img" src="/images/p/<%= @gifday.id %>.jpg"
          </p>

          <p class="center">

            <%= @gifday.body %>
          </p>
        </div>

<div class="box-bottom"></div>
    </div>

    <div id="ft">
      copyright all reserved.
    </div>

</div>
