<div class="container">

    <div id="hd">
      <h1><%= @pageparameter.title %></h1>
    </div>

    <div id="bd">

      <div class="notice-text">
        <%= @pageparameter.notice %>
      </div>

        <div id="day-list">
        <% @gifdays.each do |gifday| %>
          <div class="day-box"><%= link_to gifday.title, "/detail/#{gifday.id}" %></div>
        <% end %>
        </div>

          <div class="box-bottom"></div>
    </div>

    <div id="ft">
      Copyright all Greenlight Innovations Limited reserved.
    </div>



</div>
