<div class="container">

    <div id="hd">
      <h1><%= @pageparameter.title %></h1>
    </div>

    <div id="bd">

      <div class="notice-text">
        <%= @pageparameter.notice %>
      </div>

        <div id="day-list">
        <% @gifdays.each do |gifday| %>
          <div class="day-box"><%= link_to gifday.title, "/detail/#{gifday.id}" %></div>
        <% end %>
        </div>

          <div class="box-bottom"></div>
    </div>

    <div id="ft">
      copyright all reserved.
    </div>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</div>
