<!DOCTYPE html>
<html>
  <head>
    <title>Invscalender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

        <div id="bd">
    <%= yield %>
    <div class="box-bottom"></div>
    <div class="box-bottom"></div>
        </div>
    </div>
  </body>
</html>
